#game {
    background-image: url("New-Yak-2400px.png");
    background-size: cover;
    width: 800px;
    height: 600px;
    position: relative;
}

.hair {
    background-image: url("hair.png");
    width: 60px;
    height: 200px;
    position: absolute;
}
.banner {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    background: #eee;
    text-align: center;
}
.banner h2 {
    padding-top: 80px;
    font-size: 300%;
}
.intro strong {
    padding-top: 30px;
    font-size: 200%;
}
.intro .info {
    padding-top: 20px;
    font-size: 150%;
}